*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: #020e4c;
    color: white;
    padding: 30px;
    border: 60px;
}
h1,li,ul{
    display: inline;
}
ul{
    margin-left: 65%;
}
li{
    color: grey;
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
    width: 60%;
    padding: 20px;
   
}
.searchbar{
    text-align: center;
    padding: 50px;    
}
td:hover{
    border-color: black;
    border-style: double;
    background-color: black;
    color: white;
    cursor: pointer;  
}
table{
    border-style: solid;
    border-color: black;
}

.about{
    text-align: center;
    padding: 20px;
}
p{
    padding-top: 5px;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
    cursor: pointer;
}
